body {
	display: flex;
	flex-direction: row;
	align-items: stretch;
	height: 100vh;
	margin: 0;
	background: #ddd;
}

canvas {
	background: transparent;
	flex: 1;
	border: 1px solid black;
}

.btn {
    border-radius: 5px;
    background-color: #4CAF50;
    border: none;
    color: white;
    width: 50px;
    height: 50px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    transition: all 0.2s;
}

.swatch-container .btn {
    width: 25px;
    height: 25px;
}

.swatch.active {
	border: 2px solid white;
}

.btn:hover {
	opacity: 0.8;
	transform: scale(1.1);
}

.actions {
	display: flex;
	flex-direction: column;
	order: -1;
}

.button-container,.swatch-container {
    display: flex;
	flex-direction: column;
	margin: 4px;
}

.swatch-container {
    margin-top: 8px;
    margin-bottom: 8px;
    display: flex;
    flex-flow: row wrap;
    columns: 2;
    width: 50px;
}


.black {
	background: black;
}

.green {
	background: #007F00;
}

.red {
	background: red;
}

.blue {
    background: #0000FF;
}

.yellow {
    background: #EFFF3F;
}

.maroon {
    background: #800000;
}

.erase {
	background: grey;
}

.redo {
	background: orange;
}

.clear {
	background: purple;
}

.swatcher {
    background-color: #dddddd;
    border: none;
    width: 50px;
    height: 50px;
    transition: all 0.2s;
}

.swatcher:hover {
    opacity: 0.8;
    transform: scale(1.1);
}


.slidecontainer {
    width: 98%;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    border-radius: 5px;
    width: 100%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    border-radius: 5px;
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
}

.slider::-moz-range-thumb {
	width: 25px;
	height: 25px;
	background: #4CAF50;
	cursor: pointer;
}
